.active-green {
    background-color: green;
    color: white;
}

.active-yellow {
    background-color: yellow;
    color: black;
}

.active-red {
    background-color: rgb(207, 6, 6);
    color: white;
}
