.rounded-bl-xl {
  border-bottom-left-radius: 150px !important;
}
.rounded-br-xl {
  border-bottom-right-radius: 150px !important;
}

.signup-section {
  text-align: center;
  padding-bottom: 250px;
  padding-top: 100px
}

.login-section {
  text-align: center;
  padding-bottom: 250px;
  padding-top: 100px
}

.title {
  font-size: 60px;
  font-style: italic;
}

.title-container {
  padding-top: 50px;
}

.last-char {
  color: #127cd2
}
